
# 忽略编译生成的中间文件
*.o
*.obj
*.a
*.lib
*.lo
*.la
*.s
*.so
*.dylib
*.bin
*.elf
*.map
# 保留Arduino生成的bin文件
!*.ino.bin

# 忽略vscode生成的配置文件
**/.vscode/

# 忽略Qt生成的编译目录
build-*/

!**/QtAPP/

*.doc
*.docx
*.xlsx
*.pptx

GPT/
**/mainwindows.ui
# 忽略python的编译文件
**/__pycache__
**/log
*.html
*.txt
